VITE_API_BASE_URL=http://localhost:8787/api

SERVER_PORT=8787
NODE_ENV=development
APP_ORIGIN=http://localhost:5173

DB_HOST=cpanel-sh117.webhostingservices.com
DB_PORT=3306
DB_USER=pixelfla_vertex_user
DB_PASSWORD=8.+wlwTE65sS
DB_NAME=pixelfla_fabcoutur

JWT_SECRET=
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=sihkszbi
CLOUDINARY_API_KEY=512594779432523
CLOUDINARY_API_SECRET=**********

ADMIN_EMAIL=admin@fabcouture.in
ADMIN_PASSWORD=123123
